REACT_APP_API_PROXY_TARGET=http://localhost:8080
REACT_APP_FIREBASE_API_KEY=replace-me
REACT_APP_FIREBASE_AUTH_DOMAIN=replace-me.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=replace-me
REACT_APP_FIREBASE_STORAGE_BUCKET=replace-me.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=replace-me
REACT_APP_FIREBASE_APP_ID=replace-me
REACT_APP_FIREBASE_MEASUREMENT_ID=replace-me
