.account {
    position: relative;
    background-color: #000000;
    height: 100%;
}

p{
    color: white;
}

.accountmiddleflex{
    display: flex;
}

.accountmiddleflex img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

span{
    color: white;
}

.myaccount{
    display: flex;
}

.myaccount img{
    height: 59px;
    width: 59px;
    border-radius: 50%;
}