.account {
    position: relative;
    background-color: #000000;
    height: 100%;
}

p{
    color: white;
}

.accountfooter{
    display: flex;
    flex-wrap: wrap;
}

.accountmiddleflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accountmiddletext{
    display: flex;
    align-items: center;
}

.accountmiddleflex img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

span{
    color: white;
}

.accounttoptext{
    display: flex;
    align-items: center;
}

.myaccount{
    display: flex;
    padding: 47px 0px 10px 0px;
    align-items: center;
    justify-content: space-between;
    width: 325px;
}

.myaccount img{
    height: 59px;
    width: 59px;
    border-radius: 50%;
}

.account-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myaccountinner{
    padding: 0px 10px 0px 10px;
}

.accountfooter{
    padding: 15px 0px;
}

.accountfooter a{
    text-decoration: none;
    color: #4C4C4C;
    font-size: 0.84rem;
}

.accountfooter p{
    text-decoration: none;
    color: #4C4C4C;
    font-size: 0.84rem;
}

.accountfooter a:hover{
    text-decoration: underline;
}

.copyrightaccount p{
    text-decoration: none;
    color: #4C4C4C;
    font-size: 0.86rem;
}