:root{
    --profile-image-size: 260px;
}

.profile{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 26%;
    margin-right: 10%;
}

.profilepostscount{
    color: white;
}

.profileFollowers{
    color: white;
}

.profileFollowing{
    color: white;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileHeadImg{
    margin: 25px 70px 25px 70px;
}
.profileHeadImg img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profileHead{
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    justify-content: center;

}

.profileHeadInner{
    padding-left: 2%;
}

.profileHeadInnerOne p{
    font-size: 1.2rem;
}

.profileHeadInnerOne{
    display: flex;
    align-items: center;
}

.profileHeadInnerTwo{
    display: flex;
    margin: 10px 0px 20px 0px;
}

.profileHeadIITOne{
    display: flex;
}

.profilepostscount{
    font-weight: 600;
}

.profileFollowers{
    font-weight: 600;
}

.profileFollowing{
    font-weight: 600;
}

.profileHeadIITTwo{
    display: flex;
    padding: 0px 30px 0px 30px;
}

.profileHeadInnerFour{
    padding: 10px 0px;
}

.profileHeadIITOne p{
    padding-left: 5px;
}

.profileHeadIITTwo p{
    padding-left: 5px;
}

.profileHeadIITThree p{
    padding-left: 5px;
}

.profileHeadInnerFour{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.profileHeadIITThree{
    display: flex;
}

.profileHeadInnerThree p{
    font-size: 0.97rem;
    font-weight:600;
}

.profileHeadInnerFour{
    display: flex;
}



.ProfilePost{
    background-color: black;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
}

.profileImages img{
    height: var(--profile-image-size);
    width: var(--profile-image-size);
}

.profileImages {
    position: relative;
}

.profileImages {
    position: relative;
}

.hoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hoverOverlay:hover {
    opacity: 1;
}

.hoverOverlayContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.hoverOverlayContent p {
    font-weight: 600;
    margin: 0;
    font-size: 1.05rem;
}
  
.hoverOverlayContent svg {
    padding: 7px;
    width: 25px;
    height: 25px;
}
.hoverOverlay .hoverOverlayLike {
    display: flex;
    margin-right: 10px;
    align-items: center;
    padding-right: 10px;
}
  
.hoverOverlay .hoverOverlayComment {
    display: flex;
    margin-right: 10px;
    align-items: center;
    padding-right: 10px;
}