.create-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.create-account-form-container {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
}



.create-account-form-container h2 {
  color: #fff;
  margin-bottom: 20px;
}

.create-account-form-container input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
}

.create-account-form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #3897f0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.termsandconditionauth{
  color: #aaa;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}


.auth-error-message{
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  text-align: center;
}