.App {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
  object-fit: cover;
}
