:root {
    --icon-size: 24px;
    --text-color: #262626;
  }
  
  .navigation-component {
    display: flex;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
  }
  
  .navigation-component svg {
    font-size: var(--icon-size);
  }
  