:root {
    --icon-size: 24px;
    --text-color: #262626;
  }

#instagram{
  margin-top : 4.5vh;
  margin-bottom: 4.5vh;
  margin-left: 4vh;
  margin-right: 4vh;
}

.NavigationIcons{
  transition: transform 0.2s ease-in-out;
}

button:hover > .NavigationIcons{
  transform: scale(1.15);
}

.profileHeadInnerOne .MuiButton-text{
  margin: 10px;
}

.navigation{
  overflow: hidden;
  position: fixed;
  width: 16%;  /*for later while using media query we can make this absolute like 200px 
  and when window size is decreasing we can remove text*/
  height: 100%;
  background-color: black;
}
/*add margins on hidden elements*/
.navigation-middle > div {
  display: block;
  width: 100%;
  cursor: pointer;
  margin-top : 0.52vh;
  margin-bottom: 0.52vh;
  margin-left: 2vh;
  margin-right: 2vh;
  overflow: auto;
}

.navigation-middle > div:hover{
  width: 88%;
  border-radius: 8px;
  background-color: rgb(26, 26, 26);
}

.NavigationMore{
  display: block;
  width: 100%;
  cursor: pointer;
  margin-top : 12vh;
  margin-bottom: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  overflow: auto;
}

.NavigationMore:hover{
  width: 88%;
  border-radius: 8px;
  background-color: rgb(26, 26, 26);
}

.navigation button{
  width: 100%;
}

p{
  color: white;
}

.blockbutton{
  cursor: pointer;
  background: none;
	border: none;
	font: inherit;
  display: inline-flex;   
  align-items: center;
  text-align: center;
  outline:none;
  overflow: hidden;
}

.navigation-middle{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}