.App{
  display: flex;
  background-color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* @media (max-width: 425px) {
  .App{
    flex-direction: row;
  }
} */

img{
  pointer-events: none;
  object-fit: cover;
}