.reels{
    margin-left: 43.6%;
    margin-bottom: 2%;
    margin-right: auto;
    min-height: 100%;
    width: 24.3%;
}

.reel{
    display: flex;
    align-items: flex-end;
    margin: 20px 0px;
}

.reelsSectionOProfile{
    display: flex;
    align-items: center;
}

.reelsSectionOProfile img{
    width: 32px;
    height: 32px;
    border-radius: 50%; 
}

.reelsSectionOProfile h2{
    color: white;
    font-size: 1rem;
}

.reelsSectionTwoAudioOwner img{
    width: 25px;
    height: 25px;
    border-radius: 20%; 
}

.reelsAudioTitle{
    display: flex;
}

.reelsSectionTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15px;
}

.reelsSectionTwo > div{
    margin: 8px 0px;
}

.reelsSectionTwo > div > p{
    color: white;
    font-size: 0.8rem;
}

.reelsSectionTwoLike{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reelsSectionTwoComments{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reelsSectionTwoForward{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reelsSectionTwoBookmark{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reelsCaption{
    margin: 15px 0px;
}

.reelsSectionOProfile p{
    margin: 0px 10px;
    font-size: 0.9rem;
    font-weight: 500;
}

.reelsSectionOneHeader{
    margin: 15px;
}

.reelsAudioTitle p{
    color: white;
    font-size: 0.8rem;
}