.overlaybg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: black;
  z-index: 99;
}

.overlayRight {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 500px;
}

.overlayRightCommentSection {
  height: 370px;
}

.overlayLeft img {
  max-width: 670px;
  height: 670px;
}

.overlayInner {
  display: flex;
}
.overlayRightTT {
  display: flex;
  flex-direction: column;
}
.overlayRightTop {
  display: flex;
  margin: 15px;
  justify-content: space-between;
}

.overlayRightMiddle {
  display: flex;
  margin: 15px;
  align-items: flex-start;
  justify-content: flex-start;
}

.overlayRightTM {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin: 0px 10px;
}

.overlayRightMiddleRight {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0px 10px;
}

.overlayDuration {
  margin: 4px 4px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #a8a8a8;
}

.overlayRightTopText {
  margin: 0px 4px;
  font-size: 0.87rem;
  font-weight: 330;
}

.overlayUsername {
  margin: 0px 4px;
  font-size: 0.91rem;
  font-weight: 550;
}
.overlayRightTopLeft {
  display: flex;
}
.ORBTL {
  display: flex;
}
.overlayRightBottomTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 5px;
}
.overlayRightTop img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0px 3px;
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ff9400, #dc00b4);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: inline-block;
}

.overlayRightMiddle img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0px 3px;
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ff9400, #dc00b4);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: inline-block;
}

.overlayRightBottomBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
}

.overlayRightBottomBottom input[type="text"] {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  width: 90%;
  outline: none;
  ::placeholder {
    color: #999;
  }
  :focus {
    outline: none;
    border-color: #66f;
    box-shadow: 0 0 5px #66f;
  }
}

.commentPostButton {
  margin: 8px;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  color: #9c9c9c;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.overlayInner {
  position: fixed;
  top: 0;
  left: 0;
  top: 13.5%;
  left: 20%;
  margin-top: -5%;
  margin-left: -5%;
  background-color: rgb(0, 0, 0);
  z-index: 101;
}

.overlayRightBottomMiddleText {
  margin: 0px 14px 5px 14px;
}

.eachCommentBox {
  margin: 10px 15px;
  display: flex;
}

.eachCommentBox img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0px 3px;
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ff9400, #dc00b4);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: inline-block;
}

.eachCommentText {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0px 10px;
}

.eachCommentText p{
  font-size: 0.91rem;
}